<div id="wrapper">
    <div id="container">
      <header>
        <img class="logo__img" src="../../assets/Bora.svg" />
      </header>
      <div id="content"></div>
    </div>
  </div>
  
  <div>
    <h1 class="title">Evento</h1>
  </div>
  <div class="input">
    <form action="" class="form">
      <label for="evento">Nome do evento</label>
      <input type="text" name="name" required />
      <label for="descricao">Descrição</label>
      <input type="text" name="email" required />
      <label for="local">Local</label>
      <input type="text" name="link" required/>
    </form>
  </div>
  <footer class="btn">
    <button class="btn__entrar">Cadastrar</button>
  </footer>
  