.logo{
    &__img{
        position: absolute;
        bottom: 0%;
    }
}
.title {
    width: 70%;
    margin: 0 15% 0 15%;
    text-align: center;
    font-size: 2em;
    margin: -70px 15% 0 15%;
    color: white;
  }
  
  .form{
    margin-top: 56px;
  }
  
  input {
    width: 55%;
    margin: 5px 20% 0 20%
  }
  
  label {
    margin: 8px 20% 0 22%;
    display: flex;
  }
  
  footer {
    height: 74px;
  }
  
  .btn {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    justify-content: end;  
    &__entrar {
      width: 50%;
      font-size: 1em;
      color: white;
      background-color: #a19f9f;
      height: 35px;
      border-radius: 5px;
    }
  }
  