<div id="wrapper">
    <div id="container">
      <div class="header">
        <img src="../../../assets/arrow left_.svg" alt="" />
        <img class="logo__img" src="../../assets/Bora.svg" />
      </div>
      <header>
        <img class="logo__img" src="../../assets/Bora.svg" />
      </header>
      <div id="content"></div>
    </div>
  </div>
  
  <div>
    <h1 class="title">Perfil</h1>
  </div>
  <div class="input">
    <form action="" class="form">
      <label for="nome">Nome e Sobrenome</label>
      <input type="text" name="name" required />
      <label for="senhas">Senha</label>
      <input type="password" name="email" required />
      <label for="link">LinkedIn</label>
      <input type="text" name="link" required/>
    </form>
  </div>
  <footer class="btn">
    <button class="btn__entrar">Salvar</button>
  </footer>
  