<div id="wrapper">
  <div id="container">
    <div class="header">
      <img src="../../../assets/arrow left_.svg" alt="" />
      <img class="logo__img" src="../../assets/Bora.svg" />
    </div>
    <div id="content"></div>
  </div>
</div>

<div id="titulo">
  <h1 class="title">Entrar</h1>
</div>
<div class="input">
  <form action="" class="form">
    <label for="user">E-mail</label>
    <input type="email" name="user" required />
    <label for="user">Senha</label>
    <input type="password" name="user" required />
  </form>
</div>
<footer class="btn">
  <button (click)="goToFeed()" class="btn__entrar">ENTRAR</button>
</footer>
