<div id="wrapper">
  <div id="container">
    <header>
      <img class="logo__img" src="../../assets/Bora.svg" />
    </header>
    <div id="content"></div>
  </div>
</div>

<div>
  <h1 class="title">Entrar</h1>
</div>
<div class="input">
  <form action="" class="form">
    <label for="user">E-mail</label>
    <input type="email" name="user" required />
    <label for="user">Senha</label>
    <input type="password" name="user" required />
  </form>
</div>
<footer class="btn">
  <button class="btn__entrar">ENTRAR</button>
</footer>
