<section>
  <div class="header">
    <img (click)="backBtn()" src="../../../assets/arrow left_.svg" alt="" />
  </div>
  <div>
    <h1 class="title">Anexar Foto</h1>
  </div>

  <div class="icon">
    <img class="icon__camera" src="../../../assets/icon_camera.svg" />
  </div>
</section>

<div class="input">
  <form action="" class="form">
    <input type="file" name="file" required />
  </form>
</div>

<footer class="btn">
  <button (click)="goToFeed()" class="btn__continuar">Concluir</button>
</footer>
