<section class="feed">
        <div class="header">
            <h1>Feed</h1>
            <img src="../../../assets/menu_.svg" alt="">
        </div>
    <div class="evento">
        <div class="nome"> <img (click)="openModal()" class="img" src="../../../assets/Bora.svg" alt=""> <span> Laiane </span> </div>
        <div class="data"> <img src="../../../assets/calendar_.svg" alt=""> <span> 01/04/2023 </span></div>
        <div class="local"> <img src="../../../assets/globe_.svg" alt=""> <span> Indaiatuba-SP</span></div>
        <div class="titulo"><span> TedTalks </span></div>
        <div class="descricao"><span>Evento voltado para desenvolvedores de sistemas para web. Em formato de conversa, esse evento promete te levar para alto nível de conhecimento
        </span></div>
        <div class="btn-bora"><button class="button">Bora?!</button></div>
    </div>

    <div class="evento">
        <div class="nome"> <img (click)="openModal()" class="img" src="../../../assets/Bora.svg" alt=""> <span> Alice </span> </div>
        <div class="data"> <img src="../../../assets/calendar_.svg" alt=""> <span> 31/04/2023 </span></div>
        <div class="local"> <img src="../../../assets/globe_.svg" alt=""> <span> São Paulo-SP</span></div>
        <div class="titulo"><span> CCXP Devs Angular </span></div>
        <div class="descricao"><span>Evento voltado para desenvolvedores Angular com novidades, tendencias e grandes nomes
        </span></div>
        <div class="btn-bora"><button class="button">Bora?!</button></div>
    </div>

    <div class="evento">
        <div class="nome"> <img (click)="openModal()" class="img" src="../../../assets/Bora.svg" alt=""> <span> Laiane </span> </div>
        <div class="data"> <img src="../../../assets/calendar_.svg" alt=""> <span> 01/04/2023 </span></div>
        <div class="local"> <img src="../../../assets/globe_.svg" alt=""> <span> Indaiatuba-SP</span></div>
        <div class="titulo"><span> TedTalks </span></div>
        <div class="descricao"><span>Evento voltado para desenvolvedores de sistemas para web. Em formato de conversa, esse evento promete te levar para alto nível de conhecimento
        </span></div>
        <div class="btn-bora"><button class="button">Bora?!</button></div>
    </div>
    <footer>
        <img (click)="goToRegisterEvent()" src="../../../assets/add circle_.svg" alt="">
    </footer>
</section>

<div class="modal" *ngIf="false">
<div class="topo">
    <img (click)="closeModal()" src="../../../assets/arrow left_.svg" alt="">
</div>

<div><h1 class="tit">Perfil</h1></div>
    <div class="content">
        <img class="foto" src="" alt="">
        <h1>Laiane</h1>
        <div class="links">
            <img src="../../../assets/linkedin_.svg" alt="">
            <img src="../../../assets/envelope lines thin_.svg" alt="">
        </div>
    </div>
  </div>