<div id="wrapper">
  <div id="container">
    <div class="header">
      <img src="../../../assets/arrow left_.svg" alt="" />
      <img src="../../../assets/menu_.svg" alt=""  (click)="toggleMenu()"/>
    </div>
    <header>
      <img class="logo__img" src="../../assets/logo.png" />
    </header>
    <div id="content"></div>
  </div>
</div>

<div>
  <h1 class="title">Perfil</h1>
</div>
<div class="input">
  <form action="" class="form">
    <label for="nome">Nome e Sobrenome</label>
    <input type="text" name="name" required />
    <label for="senhas">Senha</label>
    <input type="password" name="email" required />
    <label for="link">LinkedIn</label>
    <input type="text" name="link" required />
  </form>
</div>
<footer class="btn">
  <button class="btn__entrar">Salvar</button>
</footer>

<nav class="sidebar" [class.open]="menuOpen">
  <ul>
    <li><a href="/feed">Feed</a></li>
    <li><a href="/conversas">Conversas</a></li>
    <li><a href="/perfil">Editar Perfil</a></li>
    <li><a href="#">Sair</a></li>
  </ul>
</nav>
