<div id="wrapper">
    <div id="container">
      <div class="header">
        <img (click)="backBtn()" src="../../../assets/arrow left_.svg" alt="" />
      </div>
      <div class="header-img">
        <img  class="logo__img" src="../../../assets/Bora.png" />
      </div>
      <div id="content"></div>
    </div>
  </div>
  
  <div id="titulo">
    <h1 class="title">Entrar</h1>
  </div>
  <div class="input">
    <form action="" class="form">
      <label for="user">E-mail</label>
      <input type="email" name="user" required />
      <label for="user">Senha</label>
      <input type="password" name="user" required />
    </form>
    <p class="forget">Esqueci minha senha</p>
  </div>
  <footer class="btn">
    <button (click)="goToFeed()" class="btn__entrar">ENTRAR</button>
  
  </footer>
  